#constitution {
  --color: black;
  background-image: url(../assets/image/constitution_bg.png);
  background-size: cover;
  background-repeat: repeat;
  color: var(--color);
}

[data-theme="dark"] #constitution {
  --color: #ffe2e2;
}

#constitution p {
  padding-left: 15px;
  font-family: Kollektif;
  color: var(--color);
  max-width: 600px;
}

#constitution p p {
  padding-left: 25px;
}

#constitution h1, #constitution h2 {
  font-family: Bebas Nueue;
  color: var(--color);
}

#constitutionModal {
  --bs-modal-bg: var(--body_background);
  --bs-modal-width: 800px;
}
