/* Styles for the Bylaws and Constitution, and its modal */

#constitution {
  background-image: url(../assets/image/constitution_bg.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: right top;

  * {
    color: var(--color);
  }

  p {
    font-family: Kollektif;
    padding-left: 15px;
    margin-bottom: 10px;
    max-width: 600px;
  }

  h1,
  h2 {
    font-family: Bebas Nueue;
    padding: 10px 0;
  }

  h1 {
    font-size: 3rem;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 8px;
  }
}

#constitutionModal {
  --bs-modal-width: 800px;
}

/* Light Theme */
[data-theme="light"] {
  #constitution {
    --color: black;
  }

  #constitutionModal {
    --bs-modal-bg: white;
  }
}

/* Dark Theme */
[data-theme="dark"] {
  #constitution {
    --color: #ffe2e2;
  }

  #constitutionModal {
    --bs-modal-bg: var(--body_background);

    .btn-close {
      filter: invert(1) grayscale(100%) brightness(200%);
    }
  }
}
