footer {
  overflow: hidden;
  margin-top: 50px;
}

#footer-heading {
  background-color: var(--body_color);
  font-family: Bebas Nueue, sans-serif;
  padding: 10px 50px;
  letter-spacing: 10px;
  color: var(--body_background);
}

#footer-body {
  background-image: url(../assets/image/footer_img.png);
  background-size: cover;
  padding: 25px 50px 25px 100px;
}

#footer-body * {
  color: white;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

#footer-body a {
  position: relative;
  color: white;
  text-decoration: none;
}

#footer-body a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

#footer-body a:hover::before {
  width: 100%;
}

#footer-body h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

#footer-logo {
  bottom: 0;
  right: 0;
  width: 120px;
}

@media only screen and (max-width: 700px) {
  #footer-body {
    padding: 25px 25px;
  }

  #footer-logo {
    position: static !important;
  }
}

ul.footer-list {
  list-style-type: none;
  padding: 0;
  line-height: 40px;
}
